
@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-Thin.woff2') format('woff2'), url('TTF/IosevkaHolpxay-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-CondensedThin.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedThin.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-CondensedThinItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedThinItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaHolpxay-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-CondensedExtraLight.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedExtraLight.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-CondensedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-Light.woff2') format('woff2'), url('TTF/IosevkaHolpxay-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-CondensedLight.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedLight.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-LightItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-CondensedLightItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedLightItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-Regular.woff2') format('woff2'), url('TTF/IosevkaHolpxay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-Condensed.woff2') format('woff2'), url('TTF/IosevkaHolpxay-Condensed.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensed.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensed.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-Italic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-CondensedItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-Medium.woff2') format('woff2'), url('TTF/IosevkaHolpxay-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-CondensedMedium.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedMedium.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-CondensedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiBold.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-CondensedSemiBold.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedSemiBold.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-CondensedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-Bold.woff2') format('woff2'), url('TTF/IosevkaHolpxay-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-CondensedBold.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedBold.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-CondensedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaHolpxay-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-CondensedExtraBold.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedExtraBold.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-CondensedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-Heavy.woff2') format('woff2'), url('TTF/IosevkaHolpxay-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-CondensedHeavy.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedHeavy.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-CondensedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-CondensedHeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Holpxay Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaHolpxay-SemiCondensedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaHolpxay-SemiCondensedHeavyItalic.ttf') format('truetype');
}
